<div class="col-sm-12">

	<div data-ng-hide="title">

		<button class="btn btn-success" data-ng-click="add()">New item</button>
		<hr />

		<div class="list-group">
			<a href="javascript:;" class="list-group-item"
			   data-ng-repeat="item in items" data-ng-click="edit(item, $index)">
				<strong>{{item.name}}</strong> ({{item.type}})

				<button type="button" class="btn btn-xs btn-danger pull-right" aria-label="Remove"
						data-ng-click="remove($index)">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
			</a>
		</div>
	</div>

	<div data-ng-show="title">
		<fieldset>
			<legend>{{title}}</legend>

			<label>Name<sup>*</sup>:</label>
			<input type="text" ng-model="item.name" /><br />

			<label>Type<sup>*</sup>:</label>
			<select data-ng-model="item.type">
				<option data-ng-repeat="val in [1,2,3,4,5,6,7,8]" data-ng-value="'Type '+val">Type {{val}}</option>
			</select><br />

			<label>Description:</label>
			<input type="text" ng-model="item.description" /><br />

			<button data-ng-click="reset()">Cancel</button>
			<button data-ng-click="save(item)" data-ng-show="item.name && item.type">{{button}}</button>
		</fieldset>
	</div>

</div>