<div class="col-sm-12">

	<fieldset>
		<legend>{{title}}</legend>

		<label>Name:</label>
		<input type="text" ng-model="item.name" /><br />

		<label>Type:</label>
		<select data-ng-model="item.type">
			<option data-ng-repeat="val in [1,2,3,4,5,6,7,8]" data-ng-value="'Type '+val">Type {{val}}</option>
		</select><br />

		<button data-ng-click="add(item)">Add</button>
	</fieldset>

	<br /><br /><br />

	<ul class="list-group">
		<li class="list-group-item" data-ng-repeat="item in items">
			<strong>{{item.name}}</strong> ({{item.type}})
		</li>
	</ul>

</div>